Databases/SQL/Modelling and Validating XML Documents/task4-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="company" type="CompanyType"/>
<xsd:complexType name="CompanyType">
    <xsd:simpleContent>
      <xsd:extension base="nameType">
        <xsd:attribute name="name" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="nameType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>

