Databases/SQL/Modelling and Validating XML Documents/task4-4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="items" type="ItemsType"/>
<xsd:complexType name="ItemsType">
    <xsd:sequence>
      <xsd:element name="item"  maxOccurs="unbounded" type="ItemType"/>
    </xsd:sequence>

</xsd:complexType>
  <xsd:complexType name="ItemType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="price" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>